.card-main-container {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.card-sub-container {
  position: relative;
  display: grid;
  width: 270px;
  min-height: 325px;
  max-height: 350px;
  grid-template-columns: auto auto;
  border: 1px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

.card-sub-container:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition-duration: 0.2s;
  cursor: pointer;
  border: 1px solid var(--complementaryColor);
}

.card-image {
  width: 270px;
  height: 200px;
}

.display-image-container {
  width: 270px;
  height: 200px;
  display: grid;
  place-items: center;
}
.display-card-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  width: 100%;
  padding-left: 15px;
  padding-bottom: 12px;
}
.hr {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--complementaryColor);
}

.button-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50% auto;
  padding-left: 11px;
  padding-right: 5px;
}
.adopt-button {
  width: 95%;
  height: 30px;
  margin: 0;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #8bc34a;
}

.adopt-button:hover {
  cursor: pointer;
  background-color: #618833;
}
.know-more {
  background-color: var(--complementaryColor);
}

.know-more:hover {
  background-color: var(--buttonHover);
}
.adoption-date {
  padding-top: 5px;
  font-size: 15px;
}
