<footer class="footer-main-container">
  <div class="footer-left">
    <p class="footer-company-name">littlePaws © 2022</p>
  </div>

  <!-- address and contact info -->

  <div class="footer-contact-info">
    <div class="footer-contact-sub">
      <i class="fa fa-map-marker"></i>
      <span>MIT-WPU Paud Road, Pune</span>
    </div>

    <div class="footer-contact-sub">
      <i class="fa fa-phone"></i>
      <span>9977668899</span>
    </div>

    <div class="footer-contact-sub">
      <i class="fa fa-envelope"></i>
      <span
        ><a href="littlePaws:support@company.com"
          >support@littlepaws.com</a
        ></span
      >
    </div>
  </div>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <div class="footer-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
</footer>
