<div class="find-home-main-container">
  <div class="find-home-sub">
    <h2>Fill the information about the pet</h2>

    <hr class="hr" />

    <div class="find-home-info">
      <input
        type="text"
        class="find-home-input-common input_1"
        placeholder="Owner's name "
      />
      <input
        type="text"
        placeholder="Age of the pet in YY-MM"
        class="find-home-input-common input_2"
      />

      <div class="radioButton">
        <span class="animal-select-radio">
          <input type="radio" id="cat" name="animal-type" value="cat" />

          <label for="cat">CAT</label></span
        >

        <span class="animal-select-radio"
          ><input type="radio" id="dog" name="animal-type" value="DOG" />
          <label for="dog">DOG</label></span
        >
        <span class="animal-select-radio"
          ><input type="radio" id="other" name="animal-type" value="OTHER" />
          <label for="other">OTHER</label></span
        >
      </div>
    </div>
  </div>
</div>
