.connect-owner-main-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  place-items: center;
}

.connect-owner-sub {
  position: absolute;
  top: 200px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  display: grid;
}

.heading {
  background: var(--complementaryColor);
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.info {
  padding-top: 5px;
  display: grid;
  row-gap: 10px;
}
.hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
}
