// To remove all the padding and margin for all
//  elements
* {
  margin: 0;
  padding: 0;
}

// The above didn't work properly so using the below
::ng-deep * {
  margin: 0;
  padding: 0;
}

.main-app-container {
  position: relative;
  // top: 100px;
  // width: 100%;
  background-color: white;
  min-height: 100vh;
  max-height: fit-content;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
}

.app-footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
